<footer class="footer">
<p>
  This page was built using a customized version of the
  <a href="https://github.com/spring-io/antora-ui-spring" target="_blank">Antora Spring UI</a>.
</p>
<p>
  The source code for this UI is licensed under the terms of the Mozilla Public License Version 2.0.
</p>
</footer>
